In [ ]:
import pandas as pd
a=pd.read_csv('/content/head.csv')
print(a)

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0         1          1             4512                 1530
1         1          1             3738                 1297
2         1          1             4261                 1335
3         1          1             3777                 1282
4         1          1             4177                 1590
..      ...        ...              ...                  ...
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

[237 rows x 4 columns]

In [ ]:
b=print(a['Head Size(cm^3)'])

0      4512
1      3738
2      4261
3      3777
4      4177
       ...
232    3214
233    3394
234    3233
235    3352
236    3391
Name: Head Size(cm^3), Length: 237, dtype: int64

In [ ]:
b=a['Head Size(cm^3)']
maximum=max(b)
minimum=min(b)
print(maximum)
print(minimum)
c=print((b-minimum)/(maximum-minimum))

4747
2720
0      0.884065
1      0.502220
2      0.760237
3      0.521460
4      0.718796
         ...
232    0.243710
233    0.332511
234    0.253083
235    0.311791
236    0.331031
Name: Head Size(cm^3), Length: 237, dtype: float64

In [ ]:
import pandas as pd
a=pd.read_csv('/housing.csv.zip')
print(a)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

In [ ]:
import pandas as pd
import numpy as np
d=pd.read_csv('/housing.csv.zip')
print(d.describe())
print(type(d))
print(d.shape)
a=d.fillna(0)
print(d.isnull())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000
<class 'pandas.core.frame.DataFrame'>
(20640, 10)
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0          False     False               False        False           False
1          False     False               False        False           False
2          False     False               False        False           False
3          False     False               False        False           False
4          False     False               False        False           False
...          ...       ...                 ...          ...             ...
20635      False     False               False        False           False
20636      False     False               False        False           False
20637      False     False               False        False           False
20638      False     False               False        False           False
20639      False     False               False        False           False

       population  households  median_income  median_house_value  \
0           False       False          False               False
1           False       False          False               False
2           False       False          False               False
3           False       False          False               False
4           False       False          False               False
...           ...         ...            ...                 ...
20635       False       False          False               False
20636       False       False          False               False
20637       False       False          False               False
20638       False       False          False               False
20639       False       False          False               False

       ocean_proximity
0                False
1                False
2                False
3                False
4                False
...                ...
20635            False
20636            False
20637            False
20638            False
20639            False

[20640 rows x 10 columns]

In [ ]:
import pandas as pd
a=pd.read_csv('/housing.csv.zip')
print(a)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

In [ ]:
x=d.drop(columns=['median_house_value'])
y=d[['median_house_value']]
print(x)
print(y)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income ocean_proximity
0           322.0       126.0         8.3252        NEAR BAY
1          2401.0      1138.0         8.3014        NEAR BAY
2           496.0       177.0         7.2574        NEAR BAY
3           558.0       219.0         5.6431        NEAR BAY
4           565.0       259.0         3.8462        NEAR BAY
...           ...         ...            ...             ...
20635       845.0       330.0         1.5603          INLAND
20636       356.0       114.0         2.5568          INLAND
20637      1007.0       433.0         1.7000          INLAND
20638       741.0       349.0         1.8672          INLAND
20639      1387.0       530.0         2.3886          INLAND

[20640 rows x 9 columns]
       median_house_value
0                452600.0
1                358500.0
2                352100.0
3                341300.0
4                342200.0
...                   ...
20635             78100.0
20636             77100.0
20637             92300.0
20638             84700.0
20639             89400.0

[20640 rows x 1 columns]